logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
backend/distil-large-v35-ct2/
backend/medgemma_4b_q4_vanilla_mlx/
backend/medgemma_soap_merged_16bit-2k.../
backend/whisper-large-v3/
backend/**/*.bin
backend/**/*.safetensors
